* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}
body {
  padding: 0;
  margin: 0;
  background: 		#F0F0F0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;

}
/*--- navigation bar ---*/
.navbar {
  background:#212121;
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.75);

}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #fff;
  background-color: #424242;
  border: none;
  opacity: 0.6;
  transition: 0.3s;
}

.nav-item:hover {opacity:1}

.header {
  background-size: cover;
  background-position: center;
  position: relative;
}

.page-content p {
  color: #494949;
  font-size: 1.4rem;
  line-height: 1.5;
  padding-top: 50px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 0.9rem;
  }

  .icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: #878787;
  color: white;
}

.list-group-item:hover {
  background: #6d6d6d;
  color: white;

}
.list-group-item {
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
  margin-top: 10px;

  background:#1b1b1b;
  color: white;
}

.list-group{
  max-height: 750px;
  margin-bottom: 10px;
  overflow-y:scroll;
}

.about-me-container{
  color:white;
}

.wrapping-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  
}

.custom-flex {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

@media screen and ( max-height: 850px ) {
  .custom-flex > p {

    font-size: 0.9rem;
  }

  .custom-flex > h1{ 
    font-size: 2rem;
  }

  ul {
    font-size: 0.7rem;
  }

  h4 {
    font-size: 1rem;

  }
}
@media screen and ( max-height: 800px ) {
  .custom-flex > p {
    font-size: 0.8rem;
  }





  .custom-flex > h1{ 
    font-size: 1.9rem;
  }

}


@media screen and ( max-height: 773px ) {
  .custom-flex > p {

    font-size:0.7rem;
    
  }

  .custom-flex > h1{ 
    font-size: 1.8rem;
  }

}
@media screen and ( max-height: 670px ) {
  .custom-flex > p {

    font-size:0.9rem;
    
  }

  .custom-flex > h1{ 
    font-size: 1.1rem;
  }

}

@media screen and ( max-height: 400px ) {
  .custom-flex {
    height: auto;
  }

}

.interests {
  margin-top: 10%;
  text-align: center;
  width: 100%;
  padding: 0px;
  color: 		#DCDCDC;
  background: #1b1b1b;
  font-size: 1.4rem;
  box-shadow: 0px -10px 12px -10px rgba(0,0,0,0.75);

}
